In [30]:
from main import * 
import MS

In [31]:
df = access_google_sheet(google_sheet_url=google_sheets_urls['hluwill'])

C:\Users\Micha\AppData\Local\Temp\ipykernel_1064\836761987.py:1: DeprecationWarning: [Deprecated][in version 6.0.0]: client_factory will be replaced by gspread.http_client types
  df = access_google_sheet(google_sheet_url=google_sheets_urls['hluwill'])

In [56]:
df_candidates = df.loc[df['Party']=='']

df_candidates['level_diff'] = df_candidates['Level'] - 250
df_candidates['fd_multiplier'] = df_candidates['level_diff'].apply(MS.level_fd_multiplier)
df_candidates['adjusted_BA'] = df_candidates['BA'] * df_candidates['fd_multiplier']

,Timestamp,Character Name,Level,Class Type,BA,Party,level_diff,fd_multiplier,adjusted_BA
0,10/24/2023 11:29:17,a,250,DPS,2.500000,,0,1.10,2.750000
1,10/24/2023 11:29:41,b,245,DPS,2.700000,,-5,0.88,2.376000
2,10/24/2023 11:30:11,c,260,DPS,1.800000,,10,1.20,2.160000
3,10/24/2023 11:30:34,d,255,DPS,1.700000,,5,1.20,2.040000
4,10/24/2023 11:30:50,e,253,DPS,2.200000,,3,1.16,2.552000
5,10/24/2023 11:31:13,f,245,Support,1.500000,,-5,0.88,1.320000
6,10/24/2023 11:29:17,g,250,DPS,2.448187,,0,1.10,2.693005
7,10/24/2023 11:29:41,h,245,DPS,1.988858,,-5,0.88,1.750195
8,10/24/2023 11:30:11,i,260,DPS,1.967655,,10,1.20,2.361186
9,10/24/2023 11:30:34,j,255,DPS,1.545317,,5,1.20,1.854381
10,10/24/2023 11:30:50,k,253,DPS,2.212266,,3,1.16,2.566229
11,10/24/2023 11:31:13,l,245,Support,1.955071,,-5,0.88,1.720462

In [87]:
minimum_average_BA = 1.5
supports = df_candidates[df_candidates['Class Type']=='Support']
dps = df_candidates[(df_candidates['Class Type']!='Support')&(df_candidates['BA'] >= minimum_average_BA)].sort_values('adjusted_BA', axis=0, ascending=True)
display(supports, dps)

,Timestamp,Character Name,Level,Class Type,BA,Party,level_diff,fd_multiplier,adjusted_BA
5,10/24/2023 11:31:13,f,245,Support,1.500000,,-5,0.88,1.320000
11,10/24/2023 11:31:13,l,245,Support,1.955071,,-5,0.88,1.720462

,Timestamp,Character Name,Level,Class Type,BA,Party,level_diff,fd_multiplier,adjusted_BA
7,10/24/2023 11:29:41,h,245,DPS,1.988858,,-5,0.88,1.750195
9,10/24/2023 11:30:34,j,255,DPS,1.545317,,5,1.20,1.854381
3,10/24/2023 11:30:34,d,255,DPS,1.700000,,5,1.20,2.040000
2,10/24/2023 11:30:11,c,260,DPS,1.800000,,10,1.20,2.160000
8,10/24/2023 11:30:11,i,260,DPS,1.967655,,10,1.20,2.361186
1,10/24/2023 11:29:41,b,245,DPS,2.700000,,-5,0.88,2.376000
4,10/24/2023 11:30:50,e,253,DPS,2.200000,,3,1.16,2.552000
10,10/24/2023 11:30:50,k,253,DPS,2.212266,,3,1.16,2.566229
6,10/24/2023 11:29:17,g,250,DPS,2.448187,,0,1.10,2.693005
0,10/24/2023 11:29:17,a,250,DPS,2.500000,,0,1.10,2.750000

In [88]:
#one support per party
def build_party_support(support_name: str):
    party_curr = [support_name]
    support_damage = supports.loc[supports['Character Name'] == support_name, 'adjusted_BA'].values[0]
    required_BA = minimum_average_BA * 6 - support_damage
    while required_BA > 0:
        display(dps)
        dpser = dps.loc[dps.index[0], 'Character Name']
        dpser_ba = dps.loc[dps.index[0], 'adjusted_BA']
        party_curr.append(dpser)
        required_BA -= dpser_ba
        dps.drop(index=dps.index[0], axis=0, inplace=True)

    return party_curr

build_party_support("l")

7.27953782712

,Timestamp,Character Name,Level,Class Type,BA,Party,level_diff,fd_multiplier,adjusted_BA
7,10/24/2023 11:29:41,h,245,DPS,1.988858,,-5,0.88,1.750195
9,10/24/2023 11:30:34,j,255,DPS,1.545317,,5,1.20,1.854381
3,10/24/2023 11:30:34,d,255,DPS,1.700000,,5,1.20,2.040000
2,10/24/2023 11:30:11,c,260,DPS,1.800000,,10,1.20,2.160000
8,10/24/2023 11:30:11,i,260,DPS,1.967655,,10,1.20,2.361186
1,10/24/2023 11:29:41,b,245,DPS,2.700000,,-5,0.88,2.376000
4,10/24/2023 11:30:50,e,253,DPS,2.200000,,3,1.16,2.552000
10,10/24/2023 11:30:50,k,253,DPS,2.212266,,3,1.16,2.566229
6,10/24/2023 11:29:17,g,250,DPS,2.448187,,0,1.10,2.693005
0,10/24/2023 11:29:17,a,250,DPS,2.500000,,0,1.10,2.750000

,Timestamp,Character Name,Level,Class Type,BA,Party,level_diff,fd_multiplier,adjusted_BA
9,10/24/2023 11:30:34,j,255,DPS,1.545317,,5,1.20,1.854381
3,10/24/2023 11:30:34,d,255,DPS,1.700000,,5,1.20,2.040000
2,10/24/2023 11:30:11,c,260,DPS,1.800000,,10,1.20,2.160000
8,10/24/2023 11:30:11,i,260,DPS,1.967655,,10,1.20,2.361186
1,10/24/2023 11:29:41,b,245,DPS,2.700000,,-5,0.88,2.376000
4,10/24/2023 11:30:50,e,253,DPS,2.200000,,3,1.16,2.552000
10,10/24/2023 11:30:50,k,253,DPS,2.212266,,3,1.16,2.566229
6,10/24/2023 11:29:17,g,250,DPS,2.448187,,0,1.10,2.693005
0,10/24/2023 11:29:17,a,250,DPS,2.500000,,0,1.10,2.750000

,Timestamp,Character Name,Level,Class Type,BA,Party,level_diff,fd_multiplier,adjusted_BA
3,10/24/2023 11:30:34,d,255,DPS,1.700000,,5,1.20,2.040000
2,10/24/2023 11:30:11,c,260,DPS,1.800000,,10,1.20,2.160000
8,10/24/2023 11:30:11,i,260,DPS,1.967655,,10,1.20,2.361186
1,10/24/2023 11:29:41,b,245,DPS,2.700000,,-5,0.88,2.376000
4,10/24/2023 11:30:50,e,253,DPS,2.200000,,3,1.16,2.552000
10,10/24/2023 11:30:50,k,253,DPS,2.212266,,3,1.16,2.566229
6,10/24/2023 11:29:17,g,250,DPS,2.448187,,0,1.10,2.693005
0,10/24/2023 11:29:17,a,250,DPS,2.500000,,0,1.10,2.750000

,Timestamp,Character Name,Level,Class Type,BA,Party,level_diff,fd_multiplier,adjusted_BA
2,10/24/2023 11:30:11,c,260,DPS,1.800000,,10,1.20,2.160000
8,10/24/2023 11:30:11,i,260,DPS,1.967655,,10,1.20,2.361186
1,10/24/2023 11:29:41,b,245,DPS,2.700000,,-5,0.88,2.376000
4,10/24/2023 11:30:50,e,253,DPS,2.200000,,3,1.16,2.552000
10,10/24/2023 11:30:50,k,253,DPS,2.212266,,3,1.16,2.566229
6,10/24/2023 11:29:17,g,250,DPS,2.448187,,0,1.10,2.693005
0,10/24/2023 11:29:17,a,250,DPS,2.500000,,0,1.10,2.750000

['l', 'h', 'j', 'd', 'c']

In [86]:
dps.loc[dps.index[0]]

Timestamp         10/24/2023 11:30:11
Character Name                      c
Level                             260
Class Type                        DPS
BA                                1.8
Party
level_diff                         10
fd_multiplier                     1.2
adjusted_BA                      2.16
Name: 2, dtype: object